// Import form styles

@import "sliders";
@import "buttons";
@import "date-picker";
@import "binaries";

// BDS Forms
label {
  font-family: $font-family-bold;
}

.form-control {
  &[readonly] {
    background-color: transparent;
    border: 0 none;
    box-shadow: none;
    color: $gray-900;
    opacity: 1;
    padding-left: 0;
    padding-right: 0;
    transition: none;
  }
}

.is-valid,
.is-invalid,
.has-warning {
  [class$="-feedback"]:not(.form-control-feedback) {
    clear: left;
    display: block;
    font-size: $font-size-base;
  }

  .input-group-text {
    color: $white;
  }
}

.is-valid {
  label {
    color: $software-success;
  }

  .form-control {
    border-color: $software-success;
  }

  .input-group-text {
    background-color: $success-500;
    border-color: $success-500;
  }
}

.is-invalid {
  label {
    color: $software-error;
  }

  .form-control {
    border-color: $software-error;
  }

  .input-group-text {
    background-color: $danger-500;
    border-color: $danger-500;
  }
}

.has-warning {
  label {
    color: $software-warning;
  }

  .form-control {
    border-color: $software-warning;
  }

  .warning-feedback {
    @extend .valid-feedback;
    color: $software-warning;
  }

  .input-group-text {
    background-color: $warning-500;
    border-color: $warning-500;
  }
}

.dropdown-toggle {
  padding: $btn-padding-y $btn-padding-x;
}

.form-text.icon {
  display: inline;
}
