{
  "extends": [
    "stylelint-config-standard-scss"
  ],
  "rules": {
    "property-blacklist": [],
    "scss/dollar-variable-default":null,
    "color-hex-length":null,
    "declaration-colon-newline-after":null,
    "font-weight-notation":null,
    "max-empty-lines":3,
    "no-descending-specificity":null,
    "number-leading-zero":null,
    "selector-list-comma-newline-after":null,
    "value-list-comma-newline-after":null,
    "value-list-comma-space-after":null,
    "value-list-max-empty-lines":1
  }
}
