$blue-50: #e0f4fa;
$blue-100: #b3e3f2;
$blue-300: #4dbde0;
$blue-500: #00a0d2;
$blue-700: #008ec7;
$blue-900: #0073b6;

$magenta-50: #fcdef7;
$magenta-100: #f697e5;
$magenta-300: #ed22c7;
$magenta-500: #c110a0;
$magenta-700: #880b71;
$magenta-900: #500742;

$green-50: #cdfff0;
$green-100: #81ffd9;
$green-300: #01ffb4;
$green-500: #00c389;
$green-700: #00865e;
$green-900: #004933;

$gray-50: #fff;
$gray-100: #ecedee;
$gray-300: #d8d8d8;
$gray-500: #979797;
$gray-700: #585858;
$gray-900: #000;

$violet-50: #de91f3;
$violet-100: #ca4cec;
$violet-300: #8712a6;
$violet-500: #5a0c6f;
$violet-700: #2d0638;
$violet-900: #000001;

$success-50: #c9eed4;
$success-100: #8edca5;
$success-300: #37b45c;
$success-500: #298544;
$success-700: #1b562c;
$success-900: #0c2714;

$warning-50: #ffe2cc;
$warning-100: #ffb780;
$warning-300: #ff6e00;
$warning-500: #c25400;
$warning-700: #853900;
$warning-900: #481f00;

$danger-50: #ffd6d6;
$danger-100: #ff8a8a;
$danger-300: #ff0a0a;
$danger-500: #cc0000;
$danger-700: #8f0000;
$danger-900: #520000;

$info-50: #a3e0ff;
$info-100: #57c7ff;
$info-300: #008fd6;
$info-500: #006699;
$info-700: #003d5c;
$info-900: #00141f;

$bds-theme-colors: (
  /*#region*/
  'blue-50': #e0f4fa,
  'blue-100': #b3e3f2,
  'blue-300': #4dbde0,
  'blue-500': #00a0d2,
  'blue-700': #008ec7,
  'blue-900': #0073b6,

  'magenta-50': #fcdef7,
  'magenta-100': #f697e5,
  'magenta-300': #ed22c7,
  'magenta-500': #c110a0,
  'magenta-700': #880b71,
  'magenta-900': #500742,

  'green-50': #cdfff0,
  'green-100': #81ffd9,
  'green-300': #01ffb4,
  'green-500': #00c389,
  'green-700': #00865e,
  'green-900': #004933,

  'gray-50': #fff,
  'gray-100': #ecedee,
  'gray-300': #d8d8d8,
  'gray-500': #979797,
  'gray-700': #585858,
  'gray-900': #000,

  'violet-50': #de91f3,
  'violet-100': #ca4cec,
  'violet-300': #8712a6,
  'violet-500': #5a0c6f,
  'violet-700': #2d0638,
  'violet-900': #000001,

  'success-50': #c9eed4,
  'success-100': #8edca5,
  'success-300': #37b45c,
  'success-500': #298544,
  'success-700': #1b562c,
  'success-900': #0c2714,

  'warning-50': #ffe2cc,
  'warning-100': #ffb780,
  'warning-300': #ff6e00,
  'warning-500': #c25400,
  'warning-700': #853900,
  'warning-900': #481f00,

  'danger-50': #ffd6d6,
  'danger-100': #ff8a8a,
  'danger-300': #ff0a0a,
  'danger-500': #cc0000,
  'danger-700': #8f0000,
  'danger-900': #520000,

  'info-50': #a3e0ff,
  'info-100': #57c7ff,
  'info-300': #008fd6,
  'info-500': #006699,
  'info-700': #003d5c,
  'info-900': #00141f,

  'agent-50': #fde8de,
  'agent-100': #fee8c4,
  'agent-300': #fdcc8a,
  'agent-500': #fc8d59,
  'agent-700': #ff6310
  /*#endregion*/
);

$bds-theme-semantic: (
  'success': map-get($bds-theme-colors, 'success-500'),
  'warning': map-get($bds-theme-colors, 'warning-500'),
  'danger': map-get($bds-theme-colors, 'danger-500'),
  'info': map-get($bds-theme-colors, 'info-500'),
);

$bds-theme-semantic-extended: map-merge(
  (
    'success-light': map-get($bds-theme-colors, 'success-100'),
    'warning-light': map-get($bds-theme-colors, 'warning-100'),
    'danger-light': map-get($bds-theme-colors, 'danger-100'),
    'info-light': map-get($bds-theme-colors, 'info-100')
  ),
  $bds-theme-semantic
);

$bds-theme-btns: map-merge(
  (
    'default': map-get($bds-theme-colors, 'gray-300'),
    'default-dark': map-get($bds-theme-colors, 'gray-700'),
    'primary': map-get($bds-theme-colors, 'blue-900')
  ),
  $bds-theme-semantic
);

$bds-theme-btns-outline: map-merge(
  (
    'default': map-get($bds-theme-colors, 'gray-700'),
    'primary': map-get($bds-theme-colors, 'blue-900'),
    'magenta': map-get($bds-theme-colors, 'magenta-500'),
    'violet': map-get($bds-theme-colors, 'violet-500'),
  ),
  $bds-theme-semantic
);
