$blue-50: #e0f4fa;
$blue-100: #b3e3f2;
$blue-300: #4dbde0;
$blue-500: #00a0d2;
$blue-700: #008ec7;
$blue-900: #0073b6;

$magenta-50: #f8e2f4;
$magenta-100: #ecb7e3;
$magenta-300: #d458bd;
$magenta-500: #c110a0;
$magenta-700: #b30c8e;
$magenta-900: #9e0573;

$green-50: #e0f8f1;
$green-100: #b3eddc;
$green-300: #4dd5ac;
$green-500: #00c389;
$green-700: #00b576;
$green-900: #00a159;

$white: #ffffff;
$gray-50: #f9f9f9;
$gray-100: #cccccc;
$gray-300: #9f9f9f;
$gray-500: #717171;
$gray-700: #444444;
$gray-900: #171717;
$black: #000000;

$violet-50: #ebe2ee;
$violet-100: #ceb6d4;
$violet-300: #8c559a;
$violet-500: #5a0c6f;
$violet-700: #48085c;
$violet-900: #2e0340;

$success-50: #e0ece0;
$success-100: #b3d1b3;
$success-300: #4d934d;
$success-500: #006400;
$success-700: #005200;
$success-900: #003600;

$warning-50: #f8eae0;
$warning-100: #edccb3;
$warning-300: #edccb3;
$warning-500: #c25400;
$warning-700: #b44300;
$warning-900: #9f2900;

$danger-50: #fde1e0;
$danger-100: #fab5b3;
$danger-300: #f3514d;
$danger-500: #ee0700;
$danger-700: #e90500;
$danger-900: #e20200;

$info-50: #e0edf3;
$info-100: #b3d1e0;
$info-300: #4d94b8;
$info-500: #006699;
$info-700: #005386;
$info-900: #00386b;

$agent-50: #fde8de;
$agent-100: #fee8c4;
$agent-300: #fdcc8a;
$agent-500: #fc8d59;
$agent-700: #ff6310;


$bds-theme-semantic: (
  'success': $success-500,
  'warning': $warning-500,
  'danger': $danger-500,
  'info': $info-500
);

$bds-theme-semantic-extended: map-merge(
  (
    'success-light': $success-100,
    'warning-light': $warning-100,
    'danger-light': $danger-100,
    'info-light': $info-100
  ),
  $bds-theme-semantic
);

$bds-theme-btns: map-merge(
  (
    'default': $gray-100,
    'default-dark': $gray-700,
    'primary': $blue-900
  ),
  $bds-theme-semantic
);

$bds-theme-btns-outline: map-merge(
  (
    'default': $gray-500,
    'primary': $blue-900,
    'magenta': $magenta-500,
    'violet': $violet-500
  ),
  $bds-theme-semantic
);

$bds-theme-alerts: (
  'agent': (
    'opaque': $agent-700,
    'light': $agent-500
  ),
  'danger': (
    'opaque': $danger-500,
    'light': $danger-50
  ),
  'info': (
    'opaque': $info-500,
    'light': $info-50
  ),
  'success': (
    'opaque': $success-500,
    'light': $success-50
  ),
  'warning': (
    'opaque': $warning-500,
    'light': $warning-50
  )
);
