//
// Colors
// --------------------------------------------------
// Via Benefits Brand Palette - with Tints / Shades
// --------------------------------------------------
.blue-50 { background-color: $blue-50; }
.blue-100 { background-color: $blue-100; }
.blue-300 { background-color: $blue-300; }
.blue-500 { background-color: $blue-500; }
.blue-700 { background-color: $blue-700; }
.blue-900 { background-color: $blue-900; }
.green-50 { background-color: $green-50; }
.green-100 { background-color: $green-100; }
.green-300 { background-color: $green-300; }
.green-500 { background-color: $green-500; }
.green-700 { background-color: $green-700; }
.green-900 { background-color: $green-900; }
.magenta-50 { background-color: $magenta-50; }
.magenta-100 { background-color: $magenta-100; }
.magenta-300 { background-color: $magenta-300; }
.magenta-500 { background-color: $magenta-500; }
.magenta-700 { background-color: $magenta-700; }
.magenta-900 { background-color: $magenta-900; }

.violet-50 { background-color: $violet-50; }
.violet-100 { background-color: $violet-100; }
.violet-300 { background-color: $violet-300; }
.violet-500 { background-color: $violet-500; }
.violet-700 { background-color: $violet-700; }
.violet-900 { background-color: $violet-900; }


// --------------------------------------------------
// Semantic
// --------------------------------------------------
.brand-success {
  background-color: $brand-success;
}

.brand-info {
  background-color: $brand-info;
}

.brand-warning {
  background-color: $brand-warning;
}

.brand-danger {
  background-color: $brand-danger;
}

.info-50 { background-color: $info-50; }
.info-100 { background-color: $info-100; }
.info-300 { background-color: $info-300; }
.info-500 { background-color: $info-500; }
.info-700 { background-color: $info-700; }
.info-900 { background-color: $info-900; }
.success-50 { background-color: $success-50; }
.success-100 { background-color: $success-100; }
.success-300 { background-color: $success-300; }
.success-500 { background-color: $success-500; }
.success-700 { background-color: $success-700; }
.success-900 { background-color: $success-900; }
.warning-50 { background-color: $warning-50; }
.warning-100 { background-color: $warning-100; }
.warning-300 { background-color: $warning-300; }
.warning-500 { background-color: $warning-500; }
.warning-700 { background-color: $warning-700; }
.warning-900 { background-color: $warning-900; }
.danger-50 { background-color: $danger-50; }
.danger-100 { background-color: $danger-100; }
.danger-300 { background-color: $danger-300; }
.danger-500 { background-color: $danger-500; }
.danger-700 { background-color: $danger-700; }
.danger-900 { background-color: $danger-900; }


// --------------------------------------------------
// VB Gray Palette
// --------------------------------------------------
.wht {
  background-color: $white;
  border: 1px solid $black;
}

.gray-50 {
  background-color: $gray-50;
  border: 1px solid $gray-900;
}

.gray-100 {
  background-color: $gray-100;
  border: 1px solid $gray-700;
}

.gray-300 {
  background-color: $gray-300;
  border: 1px solid $gray-500;
}

.gray-500 {
  background-color: $gray-500;
  border: 1px solid $gray-300;
}

.gray-700 {
  background-color: $gray-700;
  border: 1px solid $gray-100;
}

.gray-900 {
  background-color: $gray-900;
  border: 1px solid $gray-50;
}

.blck {
  background-color: $black;
  border: 1px solid $white;
}


// --------------------------------------------------
// Other (Functional, etc.)
// --------------------------------------------------
.bg-software-blue {
  background-color: $software-blue;
}
