//
// Colors
// --------------------------------------------------
// Via Benefits Primary Colors
// --------------------------------------------------

.wtwBlue {
  background-color: $blue;
}

.wtwGreen {
  background-color: $green;
}

.wtwMagenta {
  background-color: $magenta;
}


// --------------------------------------------------
// VB Secondary Colors
// --------------------------------------------------
.wtwGray {
  background-color: map-get($bds-theme-colors, 'gray-700');
}

.wtwViolet {
  background-color: map-get($bds-theme-colors, 'violet-500');
}


// --------------------------------------------------
// Semantic
// --------------------------------------------------
.brand-success {
  background-color: $brand-success;
}

.brand-info {
  background-color: $brand-info;
}

.brand-warning {
  background-color: $brand-warning;
}

.brand-danger {
  background-color: $brand-danger;
}


// --------------------------------------------------
// Other (Functional, etc.)
// --------------------------------------------------
.bg-software-blue {
  background-color: $software-blue;
}

.bg-gray-50 {
  background-color: map-get($grays, '50');
  border: 1px solid map-get($grays, '900');
}

.bg-gray-100 {
  background-color: map-get($grays, '100');
  border: 1px solid map-get($grays, '700');
}

.bg-gray-300 {
  background-color: map-get($grays, '300');
  border: 1px solid map-get($grays, '500');
}

.bg-gray-500 {
  background-color: map-get($grays, '500');
  border: 1px solid map-get($grays, '300');
}

.bg-gray-700 {
  background-color: map-get($grays, '700');
  border: 1px solid map-get($grays, '100');
}

.bg-gray-900 {
  background-color: map-get($grays, '900');
  border: 1px solid map-get($grays, '50');
}


// --------------------------------------------------
// Tints / Shades
// --------------------------------------------------
.blue-lightest {
  background: $blue-lightest;
}

.blue-lighter {
  background: $blue-lighter;
}

.blue-light {
  background: $blue-light;
}

.blue-dark {
  background: $blue-dark;
}

.blue-darker {
  background: $blue-darker;
}

.green-lightest {
  background: $green-lightest;
}

.green-lighter {
  background: $green-lighter;
}

.green-light {
  background: $green-light;
}

.green-dark {
  background: $green-dark;
}

.green-darker {
  background: $green-darker;
}

.magenta-lightest {
  background: $magenta-lightest;
}

.magenta-lighter {
  background: $magenta-lighter;
}

.magenta-light {
  background: $magenta-light;
}

.magenta-dark {
  background: $magenta-dark;
}

.magenta-darker {
  background: $magenta-darker;
}

.violet-lightest {
  background: $violet-lightest;
}

.violet-lighter {
  background: $violet-lighter;
}

.violet-light {
  background: $violet-light;
}

.violet-dark {
  background: $violet-dark;
}

.violet-darker {
  background: $violet-darker;
}
