@use "sass:map";

// 50: #dcf7ff;
// 100: #90e4ff;
// 200: #58d7ff;
// 300: #10c6ff;
// 400: #00b7f1;
// 500: #00a0d2;
// 600: #0089b3;
// 700: #007195;
// 800: #005a76;
// 900: #004358;
// A100: #d2f4ff;
// A200: #6cdcff;
// A400: #06c4ff;
// A700: #00b3eb;

$blue-50: #e0f4fa;
$blue-100: #b3e3f2;
$blue-200: #80d0e9;
$blue-300: #4dbde0;
$blue-400: #26aed9;
$blue-500: #00a0d2;
$blue-600: #0098cd;
$blue-700: #008ec7;
$blue-800: #0084c1;
$blue-900: #0073b6;
$blue-A100: #dff1ff;
$blue-A200: #acdcff;
$blue-A400: #79c7ff;
$blue-A700: #5fbcff;

$magenta-50: #fcdef7;
$magenta-100: #f697e5;
$magenta-200: #f263d8;
$magenta-300: #ed22c7;
$magenta-400: #dd12b7;
$magenta-500: #c110a0;
$magenta-600: #a50e89;
$magenta-700: #880b71;
$magenta-800: #6c095a;
$magenta-900: #500742;
$magenta-A100: #ffd1f6;
$magenta-A200: #ff6be3;
$magenta-A400: #ff05d0;
$magenta-A700: #de0cb7;

$green-50: #cdfff0;
$green-100: #81ffd9;
$green-200: #49ffc9;
$green-300: #01ffb4;
$green-400: #00e29e;
$green-500: #00c389;
$green-600: #00a473;
$green-700: #00865e;
$green-800: #006748;
$green-900: #004933;
$green-A100: #c3ffed;
$green-A200: #5dffcf;
$green-A400: #00f6ad;
$green-A700: #00dc9b;

$gray-50: #fff;
$gray-100: #ecedee;
$gray-200: #e4e4e4;
$gray-300: #d8d8d8;
$gray-400: #c5c5c5;
$gray-500: #979797;
$gray-600: #707070;
$gray-700: #585858;
$gray-800: #444;
$gray-900: #000;
$gray-A100: #dee5ee;
$gray-A200: #9aafcc;
$gray-A400: #697d97;
$gray-A700: #6a727d;

$violet-50: #de91f3;
$violet-100: #ca4cec;
$violet-200: #bb19e6;
$violet-300: #8712a6;
$violet-400: #700f8b;
$violet-500: #5a0c6f;
$violet-600: #440953;
$violet-700: #2d0638;
$violet-800: #17031c;
$violet-900: #000001;
$violet-A100: #e37bff;
$violet-A200: #cd15ff;
$violet-A400: #8704aa;
$violet-A700: #6f0b8a;

$success-50: #c9eed4;
$success-100: #8edca5;
$success-200: #64cf83;
$success-300: #37b45c;
$success-400: #309c50;
$success-500: #298544;
$success-600: #226e38;
$success-700: #1b562c;
$success-800: #133f20;
$success-900: #0c2714;
$success-A100: #b5f8c9;
$success-A200: #58ef84;
$success-A400: #24bd51;
$success-A700: #2a9d4c;

$warning-50: #ffe2cc;
$warning-100: #ffb780;
$warning-200: #ff9748;
$warning-300: #ff6e00;
$warning-400: #e16100;
$warning-500: #c25400;
$warning-600: #a34700;
$warning-700: #853900;
$warning-800: #662c00;
$warning-900: #481f00;
$warning-A100: #ffdcc2;
$warning-A200: #ffa35c;
$warning-A400: #f56a00;
$warning-A700: #db5f00;

$danger-50: #ffd6d6;
$danger-100: #ff8a8a;
$danger-200: #ff5252;
$danger-300: #ff0a0a;
$danger-400: #eb0000;
$danger-500: #cc0000;
$danger-600: #ad0000;
$danger-700: #8f0000;
$danger-800: #700000;
$danger-900: #520000;
$danger-A100: #ffcccc;
$danger-A200: #ff6666;
$danger-A400: #ff0000;
$danger-A700: #e60000;

$info-50: #a3e0ff;
$info-100: #57c7ff;
$info-200: #1fb4ff;
$info-300: #008fd6;
$info-400: #007ab8;
$info-500: #006699;
$info-600: #00527a;
$info-700: #003d5c;
$info-800: #00293d;
$info-900: #00141f;
$info-A100: #99ddff;
$info-A200: #33bbff;
$info-A400: #0088cc;
$info-A700: #0077b3;

$bds-theme-colors: (
  /*#region*/
  "blue-50": #e0f4fa,
  "blue-100": #b3e3f2,
  "blue-200": #80d0e9,
  "blue-300": #4dbde0,
  "blue-400": #26aed9,
  "blue-500": #00a0d2,
  "blue-600": #0098cd,
  "blue-700": #008ec7,
  "blue-800": #0084c1,
  "blue-900": #0073b6,
  "blue-A100": #dff1ff,
  "blue-A200": #acdcff,
  "blue-A400": #79c7ff,
  "blue-A700": #5fbcff,

  "magenta-50": #fcdef7,
  "magenta-100": #f697e5,
  "magenta-200": #f263d8,
  "magenta-300": #ed22c7,
  "magenta-400": #dd12b7,
  "magenta-500": #c110a0,
  "magenta-600": #a50e89,
  "magenta-700": #880b71,
  "magenta-800": #6c095a,
  "magenta-900": #500742,
  "magenta-A100": #ffd1f6,
  "magenta-A200": #ff6be3,
  "magenta-A400": #ff05d0,
  "magenta-A700": #de0cb7,

  "green-50": #cdfff0,
  "green-100": #81ffd9,
  "green-200": #49ffc9,
  "green-300": #01ffb4,
  "green-400": #00e29e,
  "green-500": #00c389,
  "green-600": #00a473,
  "green-700": #00865e,
  "green-800": #006748,
  "green-900": #004933,
  "green-A100": #c3ffed,
  "green-A200": #5dffcf,
  "green-A400": #00f6ad,
  "green-A700": #00dc9b,

  "gray-50": #fff,
  "gray-100": #ecedee,
  "gray-200": #e4e4e4,
  "gray-300": #d8d8d8,
  "gray-400": #c5c5c5,
  "gray-500": #979797,
  "gray-600": #707070,
  "gray-700": #585858,
  "gray-800": #444,
  "gray-900": #000,
  "gray-A100": #dee5ee,
  "gray-A200": #9aafcc,
  "gray-A400": #697d97,
  "gray-A700": #6a727d,

  "violet-50": #de91f3,
  "violet-100": #ca4cec,
  "violet-200": #bb19e6,
  "violet-300": #8712a6,
  "violet-400": #700f8b,
  "violet-500": #5a0c6f,
  "violet-600": #440953,
  "violet-700": #2d0638,
  "violet-800": #17031c,
  "violet-900": #000001,
  "violet-A100": #e37bff,
  "violet-A200": #cd15ff,
  "violet-A400": #8704aa,
  "violet-A700": #6f0b8a,

  "success-50": #c9eed4,
  "success-100": #8edca5,
  "success-200": #64cf83,
  "success-300": #37b45c,
  "success-400": #309c50,
  "success-500": #298544,
  "success-600": #226e38,
  "success-700": #1b562c,
  "success-800": #133f20,
  "success-900": #0c2714,
  "success-A100": #b5f8c9,
  "success-A200": #58ef84,
  "success-A400": #24bd51,
  "success-A700": #2a9d4c,

  "warning-50": #ffe2cc,
  "warning-100": #ffb780,
  "warning-200": #ff9748,
  "warning-300": #ff6e00,
  "warning-400": #e16100,
  "warning-500": #c25400,
  "warning-600": #a34700,
  "warning-700": #853900,
  "warning-800": #662c00,
  "warning-900": #481f00,
  "warning-A100": #ffdcc2,
  "warning-A200": #ffa35c,
  "warning-A400": #f56a00,
  "warning-A700": #db5f00,

  "danger-50": #ffd6d6,
  "danger-100": #ff8a8a,
  "danger-200": #ff5252,
  "danger-300": #ff0a0a,
  "danger-400": #eb0000,
  "danger-500": #cc0000,
  "danger-600": #ad0000,
  "danger-700": #8f0000,
  "danger-800": #700000,
  "danger-900": #520000,
  "danger-A100": #ffcccc,
  "danger-A200": #ff6666,
  "danger-A400": #ff0000,
  "danger-A700": #e60000,

  "info-50": #a3e0ff,
  "info-100": #57c7ff,
  "info-200": #1fb4ff,
  "info-300": #008fd6,
  "info-400": #007ab8,
  "info-500": #006699,
  "info-600": #00527a,
  "info-700": #003d5c,
  "info-800": #00293d,
  "info-900": #00141f,
  "info-A100": #99ddff,
  "info-A200": #33bbff,
  "info-A400": #0088cc,
  "info-A700": #0077b3,
  /*#endregion*/
);

$bds-theme-colors-core: (
  "default": map-get($bds-theme-colors, "gray-300"),
  "default-dark": map-get($bds-theme-colors, "gray-600"),
  "primary": map-get($bds-theme-colors, "blue-900"),
  "success": map-get($bds-theme-colors, "success-500"),
  "warning": map-get($bds-theme-colors, "warning-500"),
  "danger": map-get($bds-theme-colors, "danger-500"),
  "info": map-get($bds-theme-colors, "info-500"),
);

// $bds-theme-colors-core: (
//   'states': (
//     'name': 'default',
//     'color': map-get($bds-theme-colors, 'gray-300')
//   ), (
//     'name': 'default-dark',
//     'color': map-get($bds-theme-colors, 'gray-600')
//   ), (
//     'name': 'primary',
//     'color': map-get($bds-theme-colors, 'primary-500')
//   ), (
//     'name': 'success',
//     'color': map-get($bds-theme-colors, 'success-500')
//   ), (
//     'name': 'warning',
//     'color': map-get($bds-theme-colors, 'warning-500')
//   ), (
//     'name': 'danger',
//     'color': map-get($bds-theme-colors, 'danger-500')
//   ), (
//     'name': 'info',
//     'color': map-get($bds-theme-colors, 'info-500')
//   )
// );
