//
// OneExchange Checkboxes and Radios
// --------------------------------------------------

.chckbx {
  margin: 0 auto 10px;

  > label {
    display: inline-block;
    margin-left: -10px;
    position: relative;
    padding: 10px 0 10px 42px;
    transition: all 0.25s linear;

    > .check {
      width: 25px;
      height: 25px;
      cursor: pointer;
      position: absolute;
      border: 3px solid $software-gray-8;
      top: 0.55em;
      left: 10px;
      background: #fff;
      border-radius: 4px;
      transition: all 0.25s linear, box-shadow 0.15s linear;

      &::after {
        content: '';
        width: 15px;
        height: 9px;
        position: absolute;
        top: 3px;
        left: 2px;
        border: 3px solid #fff;
        border-top: none;
        border-right: none;
        background: transparent;
        transform: rotate(-45deg);
        transition: border 0.25s linear;
      }
    }

    &:hover .check::after {
      border-color: $software-gray-4;
    }

    input[type="checkbox"] {
      &:focus ~ .check {
        box-shadow: 0 0 3px 3px #83bffc;
      }

      &:checked ~ .check {
        background-color: $brand-primary;
        border-color: $brand-primary;

        &::after {
          border-color: #fff;
        }
      }
    }

    .help-block {
      font-family: $font-family-sans-serif;
      margin-left: -32px;
    }
  }

  &.disabled {
    > label {
      > .check {
        border-color: $software-gray-6;
        cursor: not-allowed;

        &::after {
          border-color: #fff;
        }
      }
    }

    input[type="checkbox"] {
      &:checked ~ .check {
        background-color: $software-gray-6;
        border-color: $software-gray-6;

        &::after {
          border-color: #fff;
        }
      }
    }
  }

  &.checkbox-inline {
    padding-left: 0;

    > label {
      font-size: 100%;
      font-weight: normal;
    }

    & + & {
      margin: 0 0 10px 15px;
    }
  }

  > .popover-link {
    border: none;
    color: $wtwBlack;

    &:hover {
      border: none;
      color: $brand-primary;
    }
  }

  & + .chckbx {
    margin: 10px auto;
  }

  @media (min-width: 768px) {
    > label {
      cursor: pointer;
      margin-left: 0;
      padding: 5px 0 5px 32px;

      > .check {
        left: 0;
        top: 0.35em;
      }
    }
  }
}

.rd-o {
  margin: 0 auto 10px;

  > label {
    display: block;
    margin-left: -10px;
    position: relative;
    padding: 10px 0 10px 42px;
    transition: all 0.25s linear;

    > .check {
      display: block;
      position: absolute;
      border: 3px solid $software-gray-8;
      border-radius: 100%;
      height: 25px;
      left: 10px;
      outline: none;
      width: 25px;
      top: 0.55em;
      z-index: 5;
      transition: border 0.25s linear, box-shadow 0.15s linear;

      &::before {
        display: block;
        position: absolute;
        content: '';
        border-radius: 100%;
        height: 13px;
        width: 13px;
        top: 3px;
        left: 3px;
        transition: background 0.25s linear;
      }
    }

    &:hover .check::before {
      background-color: $software-gray-4;
    }

    input[type="radio"] {
      &:focus ~ .check {
        box-shadow: 0 0 3px 3px #83bffc;
      }

      &:checked ~ .check {
        border-color: $brand-primary;

        &::before {
          background-color: $brand-primary;
        }
      }
    }

    .help-block {
      font-family: $font-family-sans-serif;
      margin-left: -32px;
    }
  }

  &.disabled {
    > label {
      > .check {
        border-color: $software-gray-6;

        &::before {
          background-color: #fff;
        }
      }

      input[type="radio"]:checked ~ .check::before {
        background-color: $software-gray-6;
      }
    }
  }

  &.radio-inline {
    padding-left: 0;

    > label {
      font-size: 100%;
      font-weight: normal;
    }

    & + & {
      margin: 0 0 10px 15px;
    }
  }

  & + .rd-o {
    margin: 10px auto;
  }

  @media (min-width: 768px) {
    > label {
      cursor: pointer;
      margin-left: 0;
      padding: 5px 0 5px 32px;

      > .check {
        left: 0;
        top: 0.35em;
      }
    }
  }
}

.answr-grp {
  margin: 0 auto 10px;
  display: flex;

  > label {
    flex: 1;

    > span {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center;
      text-align: center;
      width: 100%;
    }

    input[type="radio"] {
      &:focus ~ span {
        box-shadow: 0 0 3px 3px #83bffc;
      }
    }

    .help-block {
      font-family: $font-family-sans-serif;
      margin-left: -32px;
    }

    &:first-child:not(:last-child) {
      > span {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }
    }

    &:last-child:not(:first-child) {
      > span {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
    }

    &:not(:first-child):not(:last-child) {
      > span {
        border-radius: 0;
      }
    }
  }

  &.primary {
    label {
      span {
        @extend btn-default;

        padding: 5px 15px;
      }

      & + label {
        > span {
          border-left: 1px solid $software-gray-8;
        }
      }
    }

    input[type="radio"]:checked ~ span {
      @extend btn-primary;
    }

    &.dark {
      input[type="radio"]:checked ~ span {
        @extend btn-default-dark;
      }
    }

    &.green {
      input[type="radio"]:checked ~ span {
        @extend btn-success;
      }
    }

    &.red {
      input[type="radio"]:checked ~ span {
        @extend btn-danger;
      }
    }
  }

  &.secondary {
    label {
      span {
        @extend btn-primary-alt;
      }

      & + label {
        > span {
          border-left: none;
        }
      }
    }

    input[type="radio"]:checked ~ span {
      @extend btn-primary-alt;
      @extend hover;
    }
  }
  // &.disabled {
  //   > label {
  //     > .check {
  //       border-color: $software-gray-6;
  //       &::before {
  //         background-color: #fff;
  //       }
  //     }
  //     input[type="radio"]:checked ~ .check:before {
  //       background-color: $software-gray-6;
  //     }
  //   }
  // }
  & + .answr-grp {
    margin: 10px auto;
  }

  @media (min-width: 768px) {
    display: inline-flex;

    label {
      flex-basis: auto;
    }
  }
}

.swtch {
  margin: 0 auto 10px;

  > label {
    cursor: pointer;
    display: block;
    position: relative;
    padding: 5px 0 5px 70px;
    transition: all 0.25s linear;

    > .check {
      display: block;
      position: absolute;
      border: 3px solid $software-gray-8;
      border-radius: 13px;
      height: 27px;
      left: 0;
      outline: none;
      top: 3px;
      width: 60px;
      z-index: 5;
      transition: border 0.25s linear, box-shadow 0.05s linear;

      &::before {
        background: $software-gray-8;
        display: block;
        position: absolute;
        content: '';
        border-radius: 100%;
        height: 15px;
        width: 15px;
        top: 3px;
        left: 3px;
        transition: all 0.25s linear;
      }

      &::after {
        color: $software-gray-8;
        display: block;
        font-size: $font-size-sm;
        position: absolute;
        right: 5px;
        text-transform: uppercase;
        top: 3px;
        content: 'off';
      }
    }

    input[type="checkbox"] {
      &:focus ~ .check {
        // .tab-focus();
        box-shadow: 0 0 3px 3px #83bffc;
      }

      &:checked ~ .check {
        border-color: $brand-primary;

        &::before {
          background: $brand-primary;
          left: 36px;
        }

        &::after {
          color: $brand-primary;
          display: block;
          font-size: $font-size-sm;
          position: absolute;
          left: 5px;
          text-transform: uppercase;
          top: 3px;
          content: 'on';
        }
      }
    }

    .help-block {
      font-family: $font-family-sans-serif;
      margin-left: -32px;
    }
  }

  &.disabled {
    > label {
      cursor: not-allowed;

      > .check {
        border-color: $software-gray-6;
        cursor: not-allowed;

        &::before {
          background-color: $software-gray-6;
        }

        &::after {
          color: $software-gray-6;
        }
      }

      input[type="checkbox"]:checked ~ .check {
        border-color: $software-gray-6;
        cursor: not-allowed;

        &::before {
          background-color: $software-gray-6;
        }

        &::after {
          color: $software-gray-6;
        }
      }
    }
  }

  & + .swtch {
    margin: 10px auto;
  }
}

.has-success {
  .answr-grp,
  .chckbx,
  .rd-o,
  .swtch {
    .check {
      border-color: $software-success;
    }
  }

  .swtch {
    .check::before {
      background: $software-success;
    }
  }
}

.has-warning {
  .answr-grp,
  .chckbx,
  .rd-o,
  .swtch {
    .check {
      border-color: $software-warning;
    }
  }

  .swtch {
    .check::before {
      background: $software-warning;
    }
  }
}

.has-error {
  .answr-grp,
  .chckbx,
  .rd-o,
  .swtch {
    .check {
      border-color: $software-error;
    }
  }

  .swtch {
    .check::before {
      background: $software-error;
    }
  }
}

.chckbx input[type="checkbox"],
.rd-o input[type="radio"],
.answr-grp input[type="radio"],
.swtch input[type="checkbox"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

.answr-grp > label,
.chckbx > label,
.rd-o > label,
.swtch > label {
  font-size: 100%;
  text-transform: none;
  font-family: $font-family-sans-serif;
}

@media (min-width: 768px) {
  .form-inline {
    .chckbx {
      > label {
        padding-left: 32px;

        > input[type="checkbox"] {
          position: absolute;
        }
      }
    }
  }
}
