@each $state, $color in $bds-theme-colors-core {
  .btn-#{$state} {
    @include button-variant($color, $color);
  }
}

@each $state, $color in $bds-theme-colors-core {
  .btn-outline-#{$state} {
    @include button-outline-variant($color);

    font-family: $btn-outline-font-family;
  }
}

.btn-xs {
  font-size: $input-btn-font-size-xs;
  padding: $input-btn-padding-y-xs $input-btn-padding-x-xs;
  text-transform: uppercase;
}
