//
// Date Picker Using Basic HTML Elements
//
//================================================

.dumb-date-picker {
	@include clearfix;
	min-width: 310px;
	width: 300px;
	margin: 0 auto;
	
	> div {
		float: left;
		min-width: 150px;
		padding: 40px 0 34px;
		position: relative;
		
		& + div {
			margin-left: 10px;
		}
		
		.btn-default {
			height: 30px;
			left: 0px;
			position: absolute;
			width: 100%;
			
			> svg {
				left: 50%;
				position: absolute;
				top: 50%;
			}
			
			&.up {
				top: 0px;
				
				> svg {
					transform: translate(-50%, -60%);
				}
			}
			
			&.down {
				bottom: 0px;
				
				> svg {
					transform: translate(-50%, -35%);
				}
			}
		}
		
		> select {
			height: 200px;
			width: 100%;
			
			> option {
				padding: 7px 20px 7px 10px;
			}
		}
	}
}