// ---------------------------------
//  Colors
// ---------------------------------

//## Gray and brand colors for use across Bootstrap.
$gray-base:            #000;
$gray-darkest:         lighten($gray-base, 26.5%); // #444  
$gray-darker:          lighten($gray-base, 40%);   // #666 
$gray-dark:            lighten($gray-base, 53.5%); // #888 
$gray:                 lighten($gray-base, 66.5%); // #aaa 
$gray-light:           lighten($gray-base, 86.5%); // #ddd 
$gray-lighter:         lighten($gray-base, 93.5%); // #eee 
$gray-lightest:        lighten($gray-base, 96.7%); // #f7f7f7

$brand-primary:        #000; // darken(#428bca, 6.5%); // #337ab7
$brand-primary-accent: #5a0c6f; // #702082;
$brand-success:        #060;
$brand-info:           #1b6284;
$brand-warning:        #ebaf00;
$brand-danger:         #af140c;
$brand-agent:          #ff6310;

$brand-info-90:        #327290;
$brand-info-80:        #49819d;
$brand-info-70:        #5f91a9;
$brand-info-60:        #76a1b5;
$brand-info-50:        #8db1c2;
$brand-info-40:        #a4c0ce;
$brand-info-30:        #bbd0da;
$brand-info-20:        #d1e0e6;
$brand-info-10:        #e8eff3;

//Brand Primary
$wtwViolet:            $brand-primary-accent;
$wtwBlack:             #000;    
$wtwWhite:             #fff;

//Brand Secondary
$wtwLightGray:         #d8dbd8;
$wtwLightViolet:       #d8d7df;
$wtwLightPink:         #ddd0cf;
$wtwLightBlue:         #c8d7df;
$wtwLightGreen:        #d9e6dc;
$wtwSand:              #efeede;

// Brand Tertiary
$wtwGray:              #63666a;
$wtwMagenta:           #c110a0;
$wtwBlue:              #00a0d2;
$wtwGreen:             #00c389;
$wtwGold:              #ffb81c;

// Brand Tertiary Halftones
$wtwGrayHalf:          #b1b3b5;
$wtwVioletHalf:        #b78fc1;
$wtwMagentaHalf:       #d389bb;
$wtwBlueHalf:          #81cfe8;
$wtwGreenHalf:         #8cd0bc;
$wtwGoldHalf:          #f0dc8d;

// Brand Metal Tiers
$wtwMetalBronze:       #e16e00;
$wtwMetalSilver:       $gray-light;
$wtwMetalGold:         #ebaf00;
$wtwMetalPlatinum:     $gray-lightest;

// Alert colors (just the variables needed for the prototype)
$alert-info-bg:        lighten(desaturate($brand-info, 45%), 60%);

// VB Color Exploration
$wtw-vb-blue:                        #00a0d2;
$wtw-vb-green:                       #00c389;
$wtw-vb-magenta:                     #c110a0;
$wtw-vb-software-blue :              #007fa7;
$wtw-vb-green-dark:                  #096;
$wtw-vb-green-light:                 #d9e7dc;
$wtw-vb-info-blue-candidate-1:       #006699; // On a scale of "CDA Gen 3 Blue" to "Liazon Blue", this is a 7.
$wtw-vb-success-green-candidate-1:   #298544; // On a scale of "CDA Green" to "Liazon Green", this is an 8.
$wtw-vb-warning-orange-candidate-1:  #c65313; // 90% of the way toward $orange from $red-orange.
$wtw-vb-error-red-candidate-1:       #c00;
$wtw-vb-error-red-candidate-2:       #ec2224;
$wtw-vb-error-red-candidate-3:       #f03227;

// ---------------------------------
//  Icons (for reference)
// ---------------------------------

.oe-icon-chevron-down         { &:before { content: "\e61e"; } }
.oe-icon-chevron-up           { &:before { content: "\e621"; } }
.oe-icon-double-chevron-right { &:before { content: "\e623"; } }
.oe-icon-ok                   { &:before { content: "\e642"; } }


// ---------------------------------
//  Shared styles/Scaffolding/Etc.
// ---------------------------------

[id^="fs-embed"].fs-embed {
  > .fs-embed-shell {
    > #fs-main-l {
      > #fs-main-r {
        .fs-booking-state {
          .fs-booking-service {
            display: none !important;
          }
          
          tr {
            th, td {
              padding-bottom: 10px !important;
            }
          }
        }
        .fs-openings {
          th {
            // background: #702082 !important;
            background: #666 !important;
            border-color: #ccc !important;
            color: #fff !important;
            padding: 10px 12px !important;
          }
          td {
            background: #eee !important;
            border-color: #ccc !important;
            
            a.fs-service-opening {
              background: #fff !important;  
              border-radius: 5px !important;
              margin: 5px 0 10px !important;
              padding: 7px 0 !important;
              
              &:hover {
                background: #888 !important;
                color: #fff !important;
                text-decoration: none !important;
              }
              
              &:active {
                background: #c110a0 !important;
                color: #fff !important;
              }
              
              & + a {
                margin-top: 0px !important;
              }
            }
          }
          
          .fs-openings-nav {
            background: #fff !important;
            position: relative !important;
            width: 130px !important;
            
            span.fs-openings-prev,
            a.fs-openings-next,
            a.fs-openings-prev {
              background: #702082 !important;
              border-radius: 5px !important;
              color: #fff !important;
              display: block !important;
              height: 70px !important;
              position: absolute !important;
              top: 50% !important;
              transform: translateY(-50%) !important;
              width: 120px !important;
              -webkit-box-shadow: 0px 4px 0px 0px darken(#702082, 15%) !important;
                 -moz-box-shadow: 0px 4px 0px 0px darken(#702082, 15%) !important;
                      box-shadow: 0px 4px 0px 0px darken(#702082, 15%) !important;
              
              &::before {
                display: block !important;
                left: 50% !important;
                position: absolute !important;
                text-align: center !important;
                text-indent: 0px !important;
                top: 35% !important;
                transform: translate(-50%,-50%) !important;
              }
              
              &::after {
                display: block !important;
                left: 50% !important;
                position: absolute !important;
                text-align: center !important;
                text-indent: 0px !important;
                top: 70% !important;
                transform: translate(-50%,-50%) !important;
              }
            }
            
            span.fs-openings-prev,
            a.fs-openings-next,
            a.fs-openings-prev {
              
            }
            
            span.fs-openings-prev,
            a.fs-openings-prev {
              &::before {
                content: '\25C0' !important;
              }
              &::after {
                content: 'Prev. Week' !important;
              }
            }
            
            a.fs-openings-next,
            a.fs-openings-prev {
              &:hover {
                background: darken(#702082, 15%) !important;
              }
              
              &:active {
                margin-top: 4px !important;
                -webkit-box-shadow: 0px 0px 0px 0px transparent !important;
                   -moz-box-shadow: 0px 0px 0px 0px transparent !important;
                        box-shadow: 0px 0px 0px 0px transparent !important;
              }
            }
            
            span.fs-openings-prev {
              cursor: not-allowed !important;
              opacity: 0.65 !important;
            }
            
            a.fs-openings-next {
              &::before {
                content: '\25b6' !important;
              }
              
              &::after {
                content: 'Next Week' !important;
              }
            }
          }
        }
        
        .fs-booking-fields {
          .fs-controls {
            text-align: left !important;
          }
          
          input#fs-submit-btn {
            background: #702082 !important;
            border: none !important;
            border-radius: 5px !important;
            color: #fff !important;
            display: block !important;
            margin-left: 116px !important;
            padding: 5px 15px !important;
            -webkit-box-shadow: 0px 4px 0px 0px darken(#702082, 15%) !important;
               -moz-box-shadow: 0px 4px 0px 0px darken(#702082, 15%) !important;
                    box-shadow: 0px 4px 0px 0px darken(#702082, 15%) !important;

            &:hover {
              background: darken(#702082, 15%) !important;
            }
            
            &:active {
              margin-top: 4px !important;
              -webkit-box-shadow: 0px 0px 0px 0px transparent !important;
                 -moz-box-shadow: 0px 0px 0px 0px transparent !important;
                      box-shadow: 0px 0px 0px 0px transparent !important;
            }
          }
        }
      }
    }
    
    > .fs-footer {
      margin-bottom: 20px !important;
    }
  }
}


$alert-icon-font-size: 24px;
$alert-icon-margin:    36px;

.alert {
  color: #fff;
  border: none;
  
  > span[class^="eticon"] {
    display: block;
    float: left;
    font-size: $alert-icon-font-size;
  }
  
  > strong {
    display: block;
    margin-left: $alert-icon-margin;
  }
  
  > p {
    margin-left: $alert-icon-margin;
  }
  
  &.alert-info {
    background-color: $wtw-vb-info-blue-candidate-1;
  }
  
  &.alert-warning {
    background-color: $wtw-vb-warning-orange-candidate-1;
  }
  
  &.alert-success {
    background-color: $wtw-vb-success-green-candidate-1;
  }
  
  &.alert-error-1 {
    background-color: $wtw-vb-error-red-candidate-1;
  }
  
  &.alert-error-2 {
    background-color: $wtw-vb-error-red-candidate-2;
  }
  
  &.alert-error-3 {
    background-color: $wtw-vb-error-red-candidate-3;
  }
}