//
// Date Picker Using Basic HTML Elements
//
//================================================

.multibox {
	@extend .clearfix; // TODO - replace with display: flex; -=gc=-
	min-width: 310px;
	width: 300px;
	margin: 0 auto;
	
	> div {
		float: left;
		min-width: 150px;
		padding: 40px 0 34px;
		position: relative;
		
		& + div {
			margin-left: 10px;
		}
		
		.tumbler {
			border: 1px solid $gray-500;
			height: 150px;
			overflow-y: scroll;
			
			&:focus {
				@include tab-focus();
			}
			
			> a {
				color: $body-color;
				cursor: default;
				display: block;
				padding: 3px 7px;
				
				&:hover {
					background: $gray-100;
					text-decoration: none;
				}
				
				&.selected {
					background: $violet-500;
					color: $white;
				}
				
				&:focus {
					text-decoration: none;
				}
			}
		}
		
		.btn-default {
			height: 30px;
			left: 0px;
			position: absolute;
			width: 100%;
			
			> svg {
				left: 50%;
				position: absolute;
				top: 50%;
			}
			
			&.up {
				top: 0px;
				
				> svg {
					transform: translate(-50%, -60%);
				}
			}
			
			&.down {
				bottom: -2px;
				
				> svg {
					transform: translate(-50%, -35%);
				}
			}
		}
		
		> select {
			height: 200px;
			width: 100%;
			
			> option {
				padding: 7px 20px 7px 10px;
			}
		}
	}
	
	// Hide "Actual" Select elements
	> select {
		position: absolute;
	  clip: rect(0,0,0,0);
	  pointer-events: none;
	}
}