//
// BDS Collapsibles
//
// -----------------------------------------------------

@mixin collapse-btn {
  border: 0 none;
  border-radius: 0;
  display: block;
  margin: 0;
  padding: .5rem .75rem;
  text-align: left;

  &:active {
    box-shadow: none;
  }
}

.card {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;

  &:last-of-type {
    border-bottom: 1px solid $card-border-color;
  }
}

.card-header {
  border-bottom: 0;
  padding: 0;

  button {
    @include collapse-btn;
  }
}

.panel {
  @extend .card;
}

.panel-heading {
  @extend .card-header;

  a {
    @include collapse-btn;
  }
}
