// Import form styles

@import "sliders";
@import "buttons";
@import "date-picker";
@import "binaries";

// BDS Forms
label {
  font-family: $font-family-bold;
}

.form-control {
  &[readonly] {
    background-color: transparent;
    border: 0 none;
    box-shadow: none;
    color: map-get($grays, "900");
    opacity: 1;
    padding-left: 0;
    padding-right: 0;
    transition: none;
  }
}

.is-valid {
  label {
    color: $software-success;
  }

  .form-control {
    border-color: $software-success;
  }

  .valid-feedback {
    clear: left;
    display: block;
  }
}

.is-invalid {
  label {
    color: $software-error;
  }

  .form-control {
    border-color: $software-error;
  }

  .invalid-feedback {
    clear: left;
    display: block;
  }
}

.has-warning {
  label {
    color: $software-warning;
  }

  .form-control {
    border-color: $software-warning;
  }

  .warning-feedback {
    @extend .valid-feedback;
    clear: left;
    color: $software-warning;
    display: block;
  }
}
