//
// Alerts
// --------------------------------------------------

@each $state, $key in $bds-theme-alerts {
  .alert-#{$state} {
    @include alert-variant(deep-map-get($key, "opaque"), transparent, $gray-50);
  }

  .alert-#{$state}--light,
  .alert-#{$state}--cta {
    @include alert-variant(deep-map-get($key, "light"), transparent, $gray-900);
  }

  .alert-#{$state}--msg {
    color: deep-map-get($key, "opaque");
    font-family: $alert-msg-font-family;
  }
}

.alert {
  @extend .clearfix;

  strong {
    font-family: $font-family-bold;
  }

  a {
    color: inherit;
  }

  .btn-row > .btn {
    float: right;

    + .btn {
      margin-right: 0.75rem;
    }
  }

  &.alert-agent {
    color: $gray-900;
  }
}
