//
// Breadcrumbs
// --------------------------------------------------

.breadcrumb {
  padding: $nav-link-padding-y $nav-link-padding-x;
  margin-bottom: $line-height-base;
  list-style: none;
  background-color: $breadcrumb-bg;
  border-radius: $border-radius;

  > li {
    display: inline-block;
    position: relative;

    + li {
      padding-left: $font-size-base * 1.25;

      &::before {
        content: "";
        display: block;
        border-color: $gray-400;
        border-style: solid;
        border-width: 0 2px 2px 0;
        height: $font-size-base * 0.6;
        left: $font-size-base * 0.2;
        position: absolute;
        top: $font-size-base * 0.5;
        width: $font-size-base * 0.6;
        transform: rotate(-45deg);
      }
    }
  }

  > .active {
    color: $magenta-500;
  }
}
