//
// Breadcrumbs
// --------------------------------------------------

.breadcrumb {
  padding: $nav-link-padding-y $nav-link-padding-x;
  margin-bottom: $line-height-base;
  list-style: none;
  background-color: $breadcrumb-bg;
  border-radius: $border-radius;

  > li {
    display: inline-block;
    position: relative;

    + li {
      padding-left: floor(($font-size-base * 1.25));

      &:before {
        content: "";
        display: block;
        border-color: $gray-500;
        border-style: solid;
        border-width: 0 2px 2px 0;
        height: floor(($font-size-base * 0.75));
        left: 0px;
        position: absolute;
        top: 20%;
        width: floor(($font-size-base * 0.75));
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }
  }

  > .active {
    color: $magenta-500;
  }
}
