.multi-tier {
  overflow: auto;

  ul {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0px;
    transition: max-height ease-in-out 0.5s;

    li {
      &.folder {
        > a {
          > .icon {
            @extend .icon.add;
          }
        }

        > ul {
          padding-left: 24px;
          max-height: 0px;
          overflow: hidden;
        }

        &.open {
          > a {
            background: $gray-50;
            border-left: 3px solid $magenta;

            > .icon {
              @extend .icon.minus;
            }
          }

          > ul {
            max-height: 500px;
          }
        }
      }
    }
  }

  &.file-tree {
    ul {
      li {
        a {
          > .icon {
            @extend .icon.file;
          }
        }
        &.folder {
          > a {
            > .icon {
              @extend .icon.folder-close;
            }
          }

          &.open {
            > a {
              > .icon {
                @extend .icon.folder-open;
              }
            }
          }
        }
      }
    }

    a {
      &,
      &:visited {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  a {
    &,
    &:visited {
      border-left: 3px solid transparent;
      color: $body-color;
      display: block;
      padding: 10px;
    }

    &:hover,
    &:active {
      border-left: 3px solid $blue-900;
      background: $gray-50;
      color: $blue-900;
      text-decoration: none;
    }

    &:focus {
      text-decoration: none;
    }
  }

  &.dark {
    ul {
      li {
        &.open {
          > a {
            border: none;
            background: $blue-900;
            color: $white;
          }
        }
      }
    }

    a {
      &,
      &:visited {
        border: none;
        color: $body-color;
        display: block;
        padding: 10px;
      }

      &:hover,
      &:active {
        border: none;
        background: $gray-50;
        color: $blue-900;
        text-decoration: none;
      }

      &:focus {
        text-decoration: none;
      }
    }
  }
}
