  $primary1-50: #dcf7ff;
  $primary1-100: #90e4ff;
  $primary1-200: #58d7ff;
  $primary1-300: #10c6ff;
  $primary1-400: #00b7f1;
  $primary1-500: #00a0d2;
  $primary1-600: #0089b3;
  $primary1-700: #007195;
  $primary1-800: #005a76;
  $primary1-900: #004358;
  $primary1-A100: #d2f4ff;
  $primary1-A200: #6cdcff;
  $primary1-A400: #06c4ff;
  $primary1-A700: #00b3eb;

  $secondary-50: #fcdef7;
  $secondary-100: #f697e5;
  $secondary-200: #f263d8;
  $secondary-300: #ed22c7;
  $secondary-400: #dd12b7;
  $secondary-500: #c110a0;
  $secondary-600: #a50e89;
  $secondary-700: #880b71;
  $secondary-800: #6c095a;
  $secondary-900: #500742;
  $secondary-A100: #ffd1f6;
  $secondary-A200: #ff6be3;
  $secondary-A400: #ff05d0;
  $secondary-A700: #de0cb7;

  $tertiary-50: #cdfff0;
  $tertiary-100: #81ffd9;
  $tertiary-200: #49ffc9;
  $tertiary-300: #01ffb4;
  $tertiary-400: #00e29e;
  $tertiary-500: #00c389;
  $tertiary-600: #00a473;
  $tertiary-700: #00865e;
  $tertiary-800: #006748;
  $tertiary-900: #004933;
  $tertiary-A100: #c3ffed;
  $tertiary-A200: #5dffcf;
  $tertiary-A400: #00f6ad;
  $tertiary-A700: #00dc9b;

  $grey-50: #fff;
  $grey-100: #ecedee;
  $grey-200: #e4e4e4;
  $grey-300: #d8d8d8;
  $grey-400: #c5c5c5;
  $grey-500: #979797;
  $grey-600: #707070;
  $grey-700: #585858;
  $grey-800: #444;
  $grey-900: #000;
  $grey-A100: #dee5ee;
  $grey-A200: #9aafcc;
  $grey-A400: #697d97;
  $grey-A700: #6a727d;

  $secondary2-50: #de91f3;
  $secondary2-100: #ca4cec;
  $secondary2-200: #bb19e6;
  $secondary2-300: #8712a6;
  $secondary2-400: #700f8b;
  $secondary2-500: #5a0c6f;
  $secondary2-600: #440953;
  $secondary2-700: #2d0638;
  $secondary2-800: #17031c;
  $secondary2-900: #000001;
  $secondary2-A100: #e37bff;
  $secondary2-A200: #cd15ff;
  $secondary2-A400: #8704aa;
  $secondary2-A700: #6f0b8a;

  $success-50: #c9eed4;
  $success-100: #8edca5;
  $success-200: #64cf83;
  $success-300: #37b45c;
  $success-400: #309c50;
  $success-500: #298544;
  $success-600: #226e38;
  $success-700: #1b562c;
  $success-800: #133f20;
  $success-900: #0c2714;
  $success-A100: #b5f8c9;
  $success-A200: #58ef84;
  $success-A400: #24bd51;
  $success-A700: #2a9d4c;

  $warning-50: #ffe2cc;
  $warning-100: #ffb780;
  $warning-200: #ff9748;
  $warning-300: #ff6e00;
  $warning-400: #e16100;
  $warning-500: #c25400;
  $warning-600: #a34700;
  $warning-700: #853900;
  $warning-800: #662c00;
  $warning-900: #481f00;
  $warning-A100: #ffdcc2;
  $warning-A200: #ffa35c;
  $warning-A400: #f56a00;
  $warning-A700: #db5f00;

  $danger-50: #ffd6d6;
  $danger-100: #ff8a8a;
  $danger-200: #ff5252;
  $danger-300: #ff0a0a;
  $danger-400: #eb0000;
  $danger-500: #cc0000;
  $danger-600: #ad0000;
  $danger-700: #8f0000;
  $danger-800: #700000;
  $danger-900: #520000;
  $danger-A100: #ffcccc;
  $danger-A200: #ff6666;
  $danger-A400: #ff0000;
  $danger-A700: #e60000;

  $info-50: #a3e0ff;
  $info-100: #57c7ff;
  $info-200: #1fb4ff;
  $info-300: #008fd6;
  $info-400: #007ab8;
  $info-500: #006699;
  $info-600: #00527a;
  $info-700: #003d5c;
  $info-800: #00293d;
  $info-900: #00141f;
  $info-A100: #99ddff;
  $info-A200: #33bbff;
  $info-A400: #0088cc;
  $info-A700: #0077b3;
  $theme-colors: (
    /*#region*/
    primary1-50: #dcf7ff,
    primary1-100: #90e4ff,
    primary1-200: #58d7ff,
    primary1-300: #10c6ff,
    primary1-400: #00b7f1,
    primary1-500: #00a0d2,
    primary1-600: #0089b3,
    primary1-700: #007195,
    primary1-800: #005a76,
    primary1-900: #004358,
    primary1-A100: #d2f4ff,
    primary1-A200: #6cdcff,
    primary1-A400: #06c4ff,
    primary1-A700: #00b3eb,

    secondary-50: #fcdef7,
    secondary-100: #f697e5,
    secondary-200: #f263d8,
    secondary-300: #ed22c7,
    secondary-400: #dd12b7,
    secondary-500: #c110a0,
    secondary-600: #a50e89,
    secondary-700: #880b71,
    secondary-800: #6c095a,
    secondary-900: #500742,
    secondary-A100: #ffd1f6,
    secondary-A200: #ff6be3,
    secondary-A400: #ff05d0,
    secondary-A700: #de0cb7,

    tertiary-50: #cdfff0,
    tertiary-100: #81ffd9,
    tertiary-200: #49ffc9,
    tertiary-300: #01ffb4,
    tertiary-400: #00e29e,
    tertiary-500: #00c389,
    tertiary-600: #00a473,
    tertiary-700: #00865e,
    tertiary-800: #006748,
    tertiary-900: #004933,
    tertiary-A100: #c3ffed,
    tertiary-A200: #5dffcf,
    tertiary-A400: #00f6ad,
    tertiary-A700: #00dc9b,

    grey-50: #fff,
    grey-100: #ecedee,
    grey-200: #e4e4e4,
    grey-300: #d8d8d8,
    grey-400: #c5c5c5,
    grey-500: #979797,
    grey-600: #707070,
    grey-700: #585858,
    grey-800: #444,
    grey-900: #000,
    grey-A100: #dee5ee,
    grey-A200: #9aafcc,
    grey-A400: #697d97,
    grey-A700: #6a727d,

    secondary2-50: #de91f3,
    secondary2-100: #ca4cec,
    secondary2-200: #bb19e6,
    secondary2-300: #8712a6,
    secondary2-400: #700f8b,
    secondary2-500: #5a0c6f,
    secondary2-600: #440953,
    secondary2-700: #2d0638,
    secondary2-800: #17031c,
    secondary2-900: #000001,
    secondary2-A100: #e37bff,
    secondary2-A200: #cd15ff,
    secondary2-A400: #8704aa,
    secondary2-A700: #6f0b8a,

    success-50: #c9eed4,
    success-100: #8edca5,
    success-200: #64cf83,
    success-300: #37b45c,
    success-400: #309c50,
    success-500: #298544,
    success-600: #226e38,
    success-700: #1b562c,
    success-800: #133f20,
    success-900: #0c2714,
    success-A100: #b5f8c9,
    success-A200: #58ef84,
    success-A400: #24bd51,
    success-A700: #2a9d4c,

    warning-50: #ffe2cc,
    warning-100: #ffb780,
    warning-200: #ff9748,
    warning-300: #ff6e00,
    warning-400: #e16100,
    warning-500: #c25400,
    warning-600: #a34700,
    warning-700: #853900,
    warning-800: #662c00,
    warning-900: #481f00,
    warning-A100: #ffdcc2,
    warning-A200: #ffa35c,
    warning-A400: #f56a00,
    warning-A700: #db5f00,

    danger-50: #ffd6d6,
    danger-100: #ff8a8a,
    danger-200: #ff5252,
    danger-300: #ff0a0a,
    danger-400: #eb0000,
    danger-500: #cc0000,
    danger-600: #ad0000,
    danger-700: #8f0000,
    danger-800: #700000,
    danger-900: #520000,
    danger-A100: #ffcccc,
    danger-A200: #ff6666,
    danger-A400: #ff0000,
    danger-A700: #e60000,

    info-50: #a3e0ff,
    info-100: #57c7ff,
    info-200: #1fb4ff,
    info-300: #008fd6,
    info-400: #007ab8,
    info-500: #006699,
    info-600: #00527a,
    info-700: #003d5c,
    info-800: #00293d,
    info-900: #00141f,
    info-A100: #99ddff,
    info-A200: #33bbff,
    info-A400: #0088cc,
    info-A700: #0077b3,
  );
  /*#endregion*/
