//
// BDS Binary Controls - Checkboxes, Radios, & Switches
// -----------------------------------------------------

.chckbx {
  margin: 0 auto 10px;

  > label {
    display: inline-block;
    margin-left: -10px;
    position: relative;
    padding: 10px 0 10px 42px;
    transition: all 0.25s linear;

    > .check {
      width: 25px;
      height: 25px;
      cursor: pointer;
      position: absolute;
      border: 3px solid $gray-700;
      top: 0.55em;
      left: 10px;
      background: #fff;
      border-radius: 4px;
      transition: all 0.25s linear, box-shadow 0.15s linear;

      &::after {
        content: '';
        width: 15px;
        height: 9px;
        position: absolute;
        top: 3px;
        left: 2px;
        border: 3px solid #fff;
        border-top: none;
        border-right: none;
        background: transparent;
        transform: rotate(-45deg);
        transition: border 0.25s linear;
      }
    }

    &:hover .check::after {
      border-color: $gray-500;
    }

    input[type="checkbox"] {
      &:focus ~ .check {
        box-shadow: 0 0 0 2px $white,
        0 0 2px 5px $software-focus;
      }

      &:checked ~ .check {
        background-color: $brand-primary;
        border-color: $brand-primary;

        &::after {
          border-color: #fff;
        }
      }
    }

    .help-block {
      font-family: $font-family-sans-serif;
      margin-left: -32px;
    }
  }

  &.disabled {
    > label {
      > .check {
        border-color: $gray-700;
        cursor: not-allowed;

        &::after {
          border-color: #fff;
        }
      }
    }

    input[type="checkbox"] {
      &:checked ~ .check {
        background-color: $gray-700;
        border-color: $gray-700;

        &::after {
          border-color: #fff;
        }
      }
    }
  }

  &.checkbox-inline {
    padding-left: 0;
    display: inline-block;

    > label {
      font-size: 100%;
      font-weight: normal;
    }

    & + & {
      margin: 0 0 10px 15px;
    }
  }

  > .popover-link {
    border: none;
    color: $gray-900;

    &:hover {
      border: none;
      color: $brand-primary;
    }
  }

  & + .chckbx {
    margin: 10px auto;
  }

  @media (min-width: 768px) {
    > label {
      cursor: pointer;
      margin-left: 0;
      padding: 5px 0 5px 32px;

      > .check {
        left: 0;
        top: 0.35em;
      }
    }
  }
}

.rd-o {
  margin: 0 auto 10px;

  > label {
    display: block;
    margin-left: -10px;
    position: relative;
    padding: 10px 0 10px 42px;
    transition: all 0.25s linear;

    > .check {
      display: block;
      position: absolute;
      border: 3px solid $gray-700;
      border-radius: 100%;
      height: 25px;
      left: 10px;
      outline: none;
      width: 25px;
      top: 0.55em;
      z-index: 5;
      transition: border 0.25s linear, box-shadow 0.15s linear;

      &::before {
        display: block;
        position: absolute;
        content: '';
        border-radius: 100%;
        height: 13px;
        width: 13px;
        top: 3px;
        left: 3px;
        transition: background 0.25s linear;
      }
    }

    &:hover .check::before {
      background-color: $gray-500;
    }

    input[type="radio"] {
      &:focus ~ .check {
        box-shadow: 0 0 0 2px $white,
        0 0 2px 5px $software-focus;
      }

      &:checked ~ .check {
        border-color: $brand-primary;

        &::before {
          background-color: $brand-primary;
        }
      }
    }

    .help-block {
      font-family: $font-family-sans-serif;
      margin-left: -32px;
    }
  }

  &.disabled {
    > label {
      > .check {
        border-color: $gray-500;

        &::before {
          background-color: #fff;
        }
      }

      input[type="radio"]:checked ~ .check::before {
        background-color: $gray-500;
      }
    }
  }

  &.radio-inline {
    padding-left: 0;
    display: inline-block;

    > label {
      font-size: 100%;
      font-weight: normal;
    }

    & + & {
      margin: 0 0 10px 15px;
    }
  }

  & + .rd-o {
    margin: 10px auto;
  }

  @media (min-width: 768px) {
    > label {
      cursor: pointer;
      margin-left: 0;
      padding: 5px 0 5px 32px;

      > .check {
        left: 0;
        top: 0.35em;
      }
    }
  }
}

.answr-grp {
  margin: 0 auto 10px;
  display: flex;

  > label {
    flex: 1;

    > span {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center;
      text-align: center;
      transition: all 0.15s linear;
      width: 100%;
    }

    input[type="radio"] {
      &:focus ~ span {
        box-shadow: 0 0 0 2px $white,
          0 0 2px 5px $software-focus;
      }
    }

    .help-block {
      font-family: $font-family-sans-serif;
      margin-left: -32px;
    }

    &:first-child:not(:last-child) {
      > span {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }
    }

    &:last-child:not(:first-child) {
      > span {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
    }

    &:not(:first-child):not(:last-child) {
      > span {
        border-radius: 0;
      }
    }

    &:first-child {
      span {
        border-radius: $btn-border-radius 0 0 $btn-border-radius;
      }
    }

    &:last-child {
      span {
        border-radius: 0 $btn-border-radius $btn-border-radius 0;
      }
    }
  }

  &.primary {
    label {
      span {
        @extend .btn-default;

        padding: 5px 15px;
      }

      & + label {
        > span {
          border-left: 1px solid $gray-700;
        }
      }
    }

    input[type="radio"]:checked ~ span {
      @extend .btn-primary;
    }

    &.dark {
      input[type="radio"]:checked ~ span {
        @extend .btn-default-dark;
      }
    }

    &.green {
      input[type="radio"]:checked ~ span {
        @extend .btn-success;
      }
    }

    &.red {
      input[type="radio"]:checked ~ span {
        @extend .btn-danger;
      }
    }

    input[type="radio"]:checked:focus ~ span {
      box-shadow: 0 0 0 2px $white,
        0 0 2px 5px $software-focus;
    }
  }

  &.secondary {
    label {
      span {
        @extend .btn-primary-alt;

        border: 2px solid;
        padding: $input-btn-padding-y $input-btn-padding-x;
      }

      & + label {
        > span {
          border-left: none;
        }
      }
    }

    input[type="radio"]:checked ~ span {
      @extend .btn-primary-alt, :active;
      //@extend .hover; // <-- todo: solve for this
    }
  }
  // &.disabled {
  //   > label {
  //     > .check {
  //       border-color: $gray-500;
  //       &::before {
  //         background-color: #fff;
  //       }
  //     }
  //     input[type="radio"]:checked ~ .check:before {
  //       background-color: $gray-500;
  //     }
  //   }
  // }
  & + .answr-grp {
    margin: 10px auto;
  }

  @media (min-width: 768px) {
    display: inline-flex;

    label {
      flex-basis: auto;
    }
  }
}

.swtch {
  margin: 0 0 10px;

  label {
    cursor: pointer;
    display: flex;
    position: relative;
    padding: 5px 0;
    transition: all 0.25s linear;

    .check {
      order: -1;
      position: relative;
      width: 64px;
      
      &::before {
        background: $gray-300;
        border-radius: 11px;
        content: '';
        display: block;
        height: 25px;
        left: 3px;
        outline: none;
        position: absolute;
        top: 0.1rem;
        width: 54px;
        z-index: 5;
        transition: background-color 0.25s linear, border 0.25s linear, box-shadow 0.15s linear;
      }

      &::after {
        background: $gray-50;
        box-shadow: 0 2px 6px $gray-900;
        display: block;
        position: absolute;
        content: '';
        border-radius: 100%;
        height: 30px;
        width: 30px;
        top: -0.1rem;
        left: 0;
        transition: all 0.18s linear;
        z-index: 7;
      }
    }

    .label-text {
      padding: 0 0 0 0.5rem;
    }

    input[type="checkbox"] {
      &:focus ~ .check::after {
        // .tab-focus();
        box-shadow: 0 0 0 2px $white,
          0 0 2px 5px $software-focus;
      }

      &:checked ~ .check {
        &::before {
          background: $link-color;
        }

        &::after {
          //background: $link-color;
          left: 28px;
        }
      }
    }

    &:hover {
      .check {
        &::before {
          background: $gray-200;
          box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.2);
        }
      }

      input[type="checkbox"]:checked ~ .check::before {
        background: darken($link-color, 5%);
        box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.7);
      }
    }

    .help-block {
      font-family: $font-family-sans-serif;
      margin-left: -32px;
    }
  }

  &.disabled {
    label {
      cursor: not-allowed;

      .check {
        border-color: $gray-500;
        cursor: not-allowed;

        &::before {
          background-color: $gray-500;
        }

        &::after {
          color: $gray-500;
        }
      }

      input[type="checkbox"]:checked ~ .check {
        border-color: $gray-500;
        cursor: not-allowed;

        &::before {
          background-color: $gray-500;
        }

        &::after {
          color: $gray-500;
        }
      }
    }
  }

  /* .valid-feedback,
  .invalid-feedback,
  .warning-feedback {
    margin-left: 4.5rem; // TODO: Explore whether to indent validation messaging for controls such as this.
  } */

  &.block {
    .label-text {
      flex-grow: 1;
    }

    &.label-left {
      label {
        flex-direction: row-reverse;
      }
    }
  }

  &.label-top,
  &.label-bottom {
    label {
      align-items: center;
    }
  }

  &.label-top {
    label {
      flex-direction: column-reverse;

      .label-text {
        padding: 0 0 0.5rem;
      }

      .check {
        margin: 0 0 15px;
      }
    }
  }

  &.label-bottom {
    label {
      flex-direction: column;

      .label-text {
        padding: 1.25rem 0 0;
      }

      .check {
        margin: 5px 0 15px;
      }
    }
  }

  &.label-left {
    label {
      flex-direction: row-reverse;
      justify-content: flex-end;

      .label-text {
        padding: 0 1rem 0 0;
      }
    }
  }

  &.dual-label {
    .label-text-a {
      margin-right: .5rem;
      order: -1;
    }
  }

  & + .swtch {
    margin: 10px auto;
  }
}

// TODO: Remove .swtch-old, and all following references, once all dev teams have implemented the new version
.swtch-old {
  margin: 0 auto 10px;

  > label {
    cursor: pointer;
    display: block;
    position: relative;
    padding: 5px 0 5px 70px;
    transition: all 0.25s linear;

    > .check {
      display: block;
      position: absolute;
      border: 3px solid $gray-700;
      border-radius: 13px;
      height: 27px;
      left: 0;
      outline: none;
      top: 3px;
      width: 60px;
      z-index: 5;
      transition: border 0.25s linear, box-shadow 0.05s linear;

      &::before {
        background: $gray-700;
        display: block;
        position: absolute;
        content: '';
        border-radius: 100%;
        height: 15px;
        width: 15px;
        top: 3px;
        left: 3px;
        transition: all 0.25s linear;
      }

      &::after {
        color: $gray-700;
        display: block;
        font-size: $font-size-sm;
        position: absolute;
        right: 5px;
        text-transform: uppercase;
        top: -1.5px;
        content: 'off';
      }
    }

    input[type="checkbox"] {
      &:focus ~ .check {
        // .tab-focus();
        box-shadow: 0 0 0 2px $white,
          0 0 2px 5px $software-focus;
      }

      &:checked ~ .check {
        border-color: $brand-primary;

        &::before {
          background: $brand-primary;
          left: 36px;
        }

        &::after {
          color: $brand-primary;
          display: block;
          font-size: $font-size-sm;
          position: absolute;
          left: 5px;
          text-transform: uppercase;
          top: -1.5px;
          content: 'on';
        }
      }
    }

    .help-block {
      font-family: $font-family-sans-serif;
      margin-left: -32px;
    }
  }

  &.disabled {
    > label {
      cursor: not-allowed;

      > .check {
        border-color: $gray-500;
        cursor: not-allowed;

        &::before {
          background-color: $gray-500;
        }

        &::after {
          color: $gray-500;
        }
      }

      input[type="checkbox"]:checked ~ .check {
        border-color: $gray-500;
        cursor: not-allowed;

        &::before {
          background-color: $gray-500;
        }

        &::after {
          color: $gray-500;
        }
      }
    }
  }

  & + .swtch {
    margin: 10px auto;
  }
}

.is-valid {
  .answr-grp,
  &.answr-grp,
  .chckbx,
  &.chckbx,
  .rd-o,
  &.rd-o {
    .check {
      border-color: $software-success;
    }
  }

  .swtch,
  &.swtch {
    label {
      .check {
        &::before {
          background: lighten(desaturate($software-success, 40%), 25%);
        }
      }

      input[type="checkbox"]:checked ~ .check::before {
        background: $software-success;
      }

      &:hover {
        .check::before {
          background-color: lighten(desaturate($software-success, 35%), 30%);
        }

        input[type="checkbox"]:checked ~ .check::before {
          background-color: darken($software-success, 10%);
        }
      }
    }
  }
}

.has-warning {
  .answr-grp,
  &.answr-grp,
  .chckbx,
  &.chckbx,
  .rd-o,
  &.rd-o {
    .check {
      border-color: $software-warning;
    }
  }

  .swtch,
  &.swtch {
    label {
      .check {
        &::before {
          background: lighten(desaturate($software-warning, 40%), 25%);
        }
      }

      input[type="checkbox"]:checked ~ .check::before {
        background: $software-warning;
      }

      &:hover {
        .check::before {
          background-color: lighten(desaturate($software-warning, 35%), 30%);
        }

        input[type="checkbox"]:checked ~ .check::before {
          background-color: darken($software-warning, 10%);
        }
      }
    }
  }
}

.is-invalid {
  .answr-grp,
  &.answr-grp,
  .chckbx,
  &.chckbx,
  .rd-o,
  &.rd-o {
    .check {
      border-color: $software-error;
    }
  }

  .swtch,
  &.swtch {
    label {
      .check {
        &::before {
          background: lighten(desaturate($software-error, 40%), 25%);
        }
      }

      input[type="checkbox"]:checked ~ .check::before {
        background: $software-error;
      }

      &:hover {
        .check::before {
          background-color: lighten(desaturate($software-error, 35%), 30%);
        }

        input[type="checkbox"]:checked ~ .check::before {
          background-color: darken($software-error, 10%);
        }
      }
    }
  }
}

.chckbx input[type="checkbox"],
.rd-o input[type="radio"],
.answr-grp input[type="radio"],
.swtch input[type="checkbox"],
.swtch-old input[type="checkbox"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

.answr-grp > label,
.chckbx > label,
.rd-o > label,
.swtch > label,
.swtch-old > label {
  font-size: 100%;
  text-transform: none;
  font-family: $font-family-sans-serif;
}

@media (min-width: 768px) {
  .form-inline {
    .chckbx {
      > label {
        padding-left: 32px;

        > input[type="checkbox"] {
          position: absolute;
        }
      }
    }
  }
}
