@each $state, $color in $bds-theme-btns {
  .btn-#{$state} {
    @include button-variant($color, $color);

    box-shadow: none;
  }
}

@each $state, $color in $bds-theme-btns-outline {
  .btn-#{$state}-alt {
    @include button-outline-variant($color);

    font-family: $btn-outline-font-family;
  }
}

.btn:not(:disabled):not(.disabled).btn-link {
  text-decoration: underline;

  &,
  &:hover,
  &:visited {
    border-color: transparent;
    box-shadow: none;
  }

  &:hover,
  &:active {
    text-decoration: none;
  }

  &:active,
  &:focus {
    box-shadow: 0 0 0 2px $white,
      0 0 2px 5px $software-focus;
  }
}

.btn-xs {
  border-radius: $btn-border-radius-xs;
  font-size: $input-btn-font-size-xs;
  padding: $input-btn-padding-y-xs $input-btn-padding-x-xs;
  text-transform: uppercase;
}

.btn-group {
  > .btn {
    & + .btn {
      border-left: 1px solid $gray-700;
    }

    &.btn-danger + .btn-danger { border-left-color: darken($danger-900, 20%); }
    &.btn-info + .btn-info { border-left-color: $info-900; }
    &.btn-primary + .btn-primary { border-left-color: darken($blue-900, 30%); }
    &.btn-success + .btn-success { border-left-color: darken($success-900, 10%); }
    &.btn-warning + .btn-warning { border-left-color: darken($warning-900, 10%); }

    & + .dropdown-toggle {
      padding-left: $input-btn-padding-y;
      padding-right: $input-btn-padding-y * 1.75;
    }
  }

  + .btn-group {
    margin-left: 0.75rem;
  }
}

.btn {
  &,
  &.btn-danger,
  &.btn-default,
  &.btn-default-dark,
  &.btn-info,
  &.btn-success,
  &.btn-warning {

    &:focus {
      box-shadow: 0 0 0 2px $white,
        0 0 2px 5px $software-focus;
    }
  }
}