@each $state, $color in $bds-theme-btns {
  .btn-#{$state} {
    @include button-variant($color, $color);

    box-shadow: none;
  }
}

@each $state, $color in $bds-theme-btns-outline {
  .btn-#{$state}-alt {
    @include button-outline-variant($color);

    background-color: $white;
    font-family: $btn-outline-font-family;
  }
}

.btn:not(:disabled):not(.disabled).btn-link {
  text-decoration: underline;

  &,
  &:hover,
  &:visited {
    border-color: transparent;
    box-shadow: none;
  }

  &:hover,
  &:active {
    text-decoration: none;
  }

  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba($primary, 0.5);
  }
}

.btn-xs {
  border-radius: $btn-border-radius-xs;
  font-size: $input-btn-font-size-xs;
  padding: $input-btn-padding-y-xs $input-btn-padding-x-xs;
  text-transform: uppercase;
}

.btn-group {
  > .btn {
    & + .btn {
      border-left: 1px solid $gray-500;
    }

    &.btn-danger + .btn-danger { border-left-color: $danger-900; }
    &.btn-info + .btn-info { border-left-color: $info-900; }
    &.btn-primary + .btn-primary { border-left-color: darken($blue-900, 20%); }
    &.btn-success + .btn-success { border-left-color: $success-900; }
    &.btn-warning + .btn-warning { border-left-color: $warning-900; }

    & + .dropdown-toggle {
      padding-left: $input-btn-padding-y;
      padding-right: $input-btn-padding-y * 1.75;
    }
  }

  + .btn-group {
    margin-left: 0.75rem;
  }
}
