// Import form styles

@import "sliders";
@import "buttons";
@import "date-picker";
@import "binaries";

// BDS Forms
label {
  font-family: $font-family-bold;
}

.form-control {
  &[readonly] {
    background-color: transparent;
    border: 0 none;
    box-shadow: none;
    color: $gray-900;
    opacity: 1;
    padding-left: 0;
    padding-right: 0;
    transition: none;
  }

  transition: box-shadow 0.25s linear;

  &:focus {
    box-shadow: inset 0 0 0 transparent,
      0 0 0 2px $white,
      0 0 2px 5px $software-focus;
  }
}

.is-valid {
  label {
    color: $software-success;
  }

  .form-control {
    border-color: $software-success;
  }

  .input-group-text {
    background-color: $success-500;
    border-color: $success-500;
    color: $white;
  }
}

.is-invalid {
  label {
    color: $software-error;
  }

  .form-control {
    border-color: $software-error;
  }

  .input-group-text {
    background-color: $danger-500;
    border-color: $danger-500;
    color: $white;
  }
}

.has-warning {
  label {
    color: $software-warning;
  }

  .form-control {
    border-color: $software-warning;
  }

  .warning-feedback {
    @extend .valid-feedback;
    color: $software-warning;
  }

  .input-group-text {
    background-color: $warning-500;
    border-color: $warning-500;
    color: $white;
  }
}

.is-valid .valid-feedback,
.is-invalid .invalid-feedback,
.has-warning .warning-feedback {
  align-items: center;
  clear: left;
  display: flex;
  font-size: $font-size-base;

  .icon {
    width: 1.5rem;
  }

  .feedback-text {
    flex-grow: 1;
  }
}

.dropdown-toggle {
  padding: $btn-padding-y $btn-padding-x;
}

.form-text.icon {
  display: inline;
}
